* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body {
  margin: 0;
  background-color: black;
  height: 100vh;
  color: white;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 30px;
}

.nav-bar {
  margin-left: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.icon {
  height: 30px;
}

h1 {
  color: yellow;
}

h2 {
  padding: 0 20px 0 30px;
}

#list {
  padding: 0 20px 0 30px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 10rem));
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
}

button {
  color: black;
  border-radius: 15px;
  height: 30px;
}
.block {
  background-color: red;
}

.amazon {
  background-color: yellow;
}

.spotify {
  background-color: rgb(61, 212, 61);
}

.details {
  color: aqua;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
}